export CONTAINER_HOST=$(docker-machine ip default)
if [ -z "$CONTAINER_HOST" ]; then
  export CONTAINER_HOST=localhost
fi
export MONITOR_PORT=8082
export RABBIT_PROTOCOL=amqp
export RABBIT_HOST=$CONTAINER_HOST
export RABBIT_PORT=5672
export RABBIT_MANAGEMENT_PORT=15672
export RABBIT_USER=guest
export RABBIT_PASSWORD=guest
export RABBIT_VHOST=/
export AMQP_URL=$RABBIT_PROTOCOL://$RABBIT_USER:$RABBIT_PASSWORD@$RABBIT_HOST:$RABBIT_PORT/$RABBIT_VHOST
export EXCHANGE_NAME=hacron
export ETCD_PORT=2379
export ETCD_URLS=http://localhost:2379
export DEBUG=hacron:*
export CIRCLE_SHA1=test
